/*******************************************************************************
 * Filename     :     style.scss
 * Author       :     nihar jyoti sarma
 * Description  :     Compiles all SCSS files together
 ******************************************************************************/
/****************************************************************************
* Atoms
****************************************************************************/
/*******************************************************************************
 * Filename     :     variable.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the global variables
 * Dependencies :     variables:global
 ******************************************************************************/
/*******************************************************************************
 * Filename     :     font.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the font size
 * Dependencies :     variables:global
 ******************************************************************************/
.font16 {
  font-size: 16px; }

.font14 {
  font-size: 14px; }

.font12 {
  font-size: 12px; }

/*******************************************************************************
 * Filename     :     grid.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the grid system
 * Dependencies :     variables:global
 ******************************************************************************/
.main-container {
  margin: 0 auto;
  max-width: 1024px; }

.main-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  height: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='main-col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .main-col-xs-1 {
    width: 8.33333%; }
  .main-col-xs-2 {
    width: 16.66667%; }
  .main-col-xs-3 {
    width: 25%; }
  .main-col-xs-4 {
    width: 33.33333%; }
  .main-col-xs-5 {
    width: 41.66667%; }
  .main-col-xs-6 {
    width: 50%; }
  .main-col-xs-7 {
    width: 58.33333%; }
  .main-col-xs-8 {
    width: 66.66667%; }
  .main-col-xs-9 {
    width: 75%; }
  .main-col-xs-10 {
    width: 83.33333%; }
  .main-col-xs-11 {
    width: 91.66667%; }
  .main-col-xs-12 {
    width: 100%; } }

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .main-col-md-1 {
    width: 8.33333%; }
  .main-col-md-2 {
    width: 16.66667%; }
  .main-col-md-3 {
    width: 25%; }
  .main-col-md-4 {
    width: 33.33333%; }
  .main-col-md-5 {
    width: 41.66667%; }
  .main-col-md-6 {
    width: 50%; }
  .main-col-md-7 {
    width: 58.33333%; }
  .main-col-md-8 {
    width: 66.66667%; }
  .main-col-md-9 {
    width: 75%; }
  .main-col-md-10 {
    width: 83.33333%; }
  .main-col-md-11 {
    width: 91.66667%; }
  .main-col-md-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .main-col-sm-1 {
    width: 8.33333%; }
  .main-col-sm-2 {
    width: 16.66667%; }
  .main-col-sm-3 {
    width: 25%; }
  .main-col-sm-4 {
    width: 33.33333%; }
  .main-col-sm-5 {
    width: 41.66667%; }
  .main-col-sm-6 {
    width: 50%; }
  .main-col-sm-7 {
    width: 58.33333%; }
  .main-col-sm-8 {
    width: 66.66667%; }
  .main-col-sm-9 {
    width: 75%; }
  .main-col-sm-10 {
    width: 83.33333%; }
  .main-col-sm-11 {
    width: 91.66667%; }
  .main-col-sm-12 {
    width: 100%; } }

/*******************************************************************************
 * Filename     :     button.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the button activity
 * Dependencies :     variables:global
 ******************************************************************************/
.btn {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  font-family: 'Poiret One', cursive;
  font-size: 12px; }

.btn--round {
  border-radius: 50%;
  padding: 5px; }

.btn--wrap {
  margin: 10px; }

.btn--active {
  background: #333333; }
  .btn--active:hover {
    background: #1f1f1f;
    transition: all 0.3s ease; }
  .btn--active:active {
    background: black; }

.btn--disabled {
  background: #cccccc; }
  .btn--disabled:hover {
    background: #b8b8b8;
    transition: all 0.3s ease; }
  .btn--disabled:active {
    background: #8c8c8c; }

.btn--submit {
  background: #FF3F00; }
  .btn--submit:hover {
    background: #d63500;
    transition: all 0.3s ease; }
  .btn--submit:active {
    background: #802000; }

.btn--primary {
  background: #FF3F00; }
  .btn--primary:hover {
    background: #d63500;
    transition: all 0.3s ease; }
  .btn--primary:active {
    background: #802000; }

.btn-padding {
  padding: 5px 20px; }

/*******************************************************************************
 * Filename     :     text.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the text format
 * Dependencies :     variables:global
 ******************************************************************************/
.text-align--center {
  text-align: center; }

.text-align--right {
  text-align: right; }

.text-color--white {
  color: #fff; }

.text-font--bold {
  font-weight: bold; }

/*******************************************************************************
 * Filename     :     form.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the form module
 * Dependencies :     variables:global
 ******************************************************************************/
/*******************************************************************************
 * Default
 ******************************************************************************/
.form {
  margin-bottom: 15px;
  position: relative; }
  .form--longInstruction {
    font-size: 12px;
    color: #333333; }

.form--submit {
  width: 250px;
  padding: 5px 52px; }

/****************************************************************************
* Molecules
****************************************************************************/
/*******************************************************************************
 * Filename     :     header.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the header molecules
 * Dependencies :     variables:global
 ******************************************************************************/
.header {
  display: flex;
  padding: 0 10px;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 50px;
  color: #fff;
  background-color: #333333; }
  .header img {
    float: left; }
  .header h3 {
    margin: 0; }

.header__layout {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
  width: 100%; }

.header__text--small {
  clear: both;
  top: -6px;
  font-size: 12px;
  position: relative; }

/*******************************************************************************
 * Filename     :     form.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the form module
 * Dependencies :     variables:global
 ******************************************************************************/
.form--group {
  margin-bottom: 5px; }

.form--controller {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

/*******************************************************************************
 * Filename     :     result.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the result molecules
 * Dependencies :     variables:global
 ******************************************************************************/
.result__header {
  max-width: 676px; }

.result__show {
  max-width: 676px; }

.result__layout {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 5px;
  width: 100%; }

.result--price {
  padding: 10px 0 0 1em;
  font-weight: bold; }

.result--selected {
  background-color: #eeeeee; }

.result--pointer {
  cursor: pointer; }

/****************************************************************************
* organism
****************************************************************************/
/*******************************************************************************
 * Filename     :     form.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the form module
 * Dependencies :     variables:global
 ******************************************************************************/
.result-container {
  background-color: #fff;
  height: 92vh;
  overflow: auto; }

@media only screen and (min-width: 992px) {
  .result-container {
    position: absolute; } }

/*******************************************************************************
 * Base
 * - scope: global
 * - note: required by consumer
 ******************************************************************************/
/*******************************************************************************
 * Filename     :     normalize.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the common css
 * Dependencies :     variables:global
 ******************************************************************************/
html {
  font-family: "Targetica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px; }

body {
  line-height: 1.4286;
  color: #333;
  background-color: #503933;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 0 125px; }

.right {
  float: right !important; }

.left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.border--bottom {
  border-bottom: 1px solid #333333;
  height: 65px; }

.padding-left1em {
  padding-left: 1em; }

.error {
  background-color: #FF3F00;
  color: #fff; }
