/*******************************************************************************
 * Filename     :     variable.scss
 * Author       :     Nihar Jyoti sarma
 * Description  :     Contains the global variables
 * Dependencies :     variables:global
 ******************************************************************************/

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$white-base:             #fff !default;
$orange:                 #FF3F00;
$black-light:            #cccccc;

$body-bg:               #503933 !default;
$text-color:            #333 !default;

$grid-columns: 12;
$grid-max-width: 65em;

$font-family-base: "Targetica","Helvetica Neue","Helvetica","Arial",sans-serif;
$max-width: 1024px;

// breakpoints
$breakpoint-xtra-small: "only screen";
$breakpoint-small: "only screen and (min-width: 768px)";
$breakpoint-medium: "only screen and (min-width: 992px)";